.introduction-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 1280px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 1rem;
}

.introduction-box>div {
    display: flex;
    border: 1px solid #DDDDDD;
    border-top: 1px solid black;
}

.introduce>strong {
    font-size: 1.5vw;
    display: block;
    padding: 3.5vw 0 1.4vw 3.5vw;
}

.introduce>span {
    font-size: 0.9vw;
    display: block;
    padding: 0 0 3.5vw 3.5vw;
    color: #666666;
}

.contact-button {
    display: flex;
    align-items: center;
    margin-left: 30vw;
}

.contact-button>button {
    width: 12.37rem;
    height: 3.375rem;
    border-radius: 50px;
    border: 1px solid #91D5B0;
    background-color: #91D5B0;
}

.contact-button>button:hover {
    border: 1px solid black;
    color: black;
    background-color: white;
}
