main {
    min-width: 1280px;
}

.link-box {
    display: flex;
    justify-content: center;
    margin-top: 2.4em;
}

.link-box ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.facebook>a {
    display: inline-block;
    background: url(../images/facebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.75em;
    height: 3.75em;
    margin-right: 2.6em;
}

.instagram>a {
    display: inline-block;
    background: url(../images/instargram.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.75em;
    height: 3.75em;
    margin-right: 2.6em;
}

.twitter>a {
    display: inline-block;
    background: url(../images/twitter.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.75em;
    height: 3.75em;
    margin-right: 2.6em;
}

.youtube>a {
    display: inline-block;
    background: url(../images/youtube.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.75em;
    height: 3.75em;
}

.top-button {
    display: flex;
    position: fixed;
    background: url(../images/top-black.png);
    background-size: contain;
    width: 4.5em;
    height: 4.5em;
    right: 7em;
    bottom: 14em;
}

.top-button:hover {
    background: url(../images/top-white.png);
    background-size: contain;
}


@media (max-width:1024px) {
    main {
        position: relative;
        min-width: 375px;
        max-width: 1024px;
        bottom: -30vw;

    }

    .facebook>a {
        width: 8vw;
        height: 8vw;
        margin-right: 8vw;
    }
    
    .instagram>a {
        width: 8vw;
        height: 8vw;
        margin-right: 8vw;    
    }
    
    .twitter>a {
        width: 8vw;
        height: 8vw;
        margin-right: 8vw;    
    }
    
    .youtube>a {
        width: 8vw;
        height: 8vw;
    }

    .top-button {
        display: flex;
        position: fixed;
        background: url(../images/top-black.png);
        background-size: contain;
        width: 8vw;
        height: 8vw;
        right: 5vw;
        bottom: 2em;
    }
}
