#profile {
    display: flex;
    width: 70%;
    height: 100%;
    min-width: 1280px;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 14.8vw;
    padding: 0 1em;
}

.profile-img-box {
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.profile-box {
    margin-left: 3.4em;
}

#profile .name {
    display: inline;
}

#profile .name span {
    font-weight: 700;
    margin-left: 2.2em;
}

#profile .name small {
    font-size: 0.7em;
    display: block;
    margin-top: 1.5em;
}

.profile-box section:nth-child(2) {
    display: inline-block;
    width: 10.4em;
    height: 2.75em;
    margin-top: 1.7em;
    margin-right: 1em;
    padding: 0.8em 1.25em;
    border-radius: 1.875em;
    background-color: #E8F9F5;
    color: #2FBBA0;
}

.profile-box section:nth-child(3) {
    display: flex;
    display: inline-block;
    width: 10.4em;
    height: 2.75em;
    margin-top: 1.7em;
    margin-right: 1em;
    padding: 0.8em 1.25em;
    border-radius: 1.875em;
    background-color: #FFF6F4;
    color: #FF6E53;
}

.profile-box section:nth-child(4) {
    display: inline;
    width: 12em;
    height: 2.75em;
    margin-top: 1.7em;
    padding: 0.8em 1.25em;
    border-radius: 1.875em;
    background-color: #E8F9F5;
    color: #2FBBA0;
}

.information-list {
    display: flex;
    flex-direction: row;
    margin-top: 3.5em;
    padding-top: 2.9em;
    border-top: 1px solid black;
}

.information-list div:nth-child(2) {
    margin-left: 16em;
}

.telephone>address {
    display: inline;
    margin-left: 4.5em;
    color: #666666;
}

.blog {
    margin-top: 1.125em;
}

.blog>a {
    margin-left: 4.2em;
    color: #666666;
    word-break: break-all;
}

.email>address {
    display: inline;
    margin-left: 4.5em;
    color: #666666;
}

.github {
    margin-top: 1.125em;
}

.github>a {
    margin-left: 3.8em;
    color: #666666;
    word-break: break-all;
}
