#project {
    background-color: #DEF4E2;
}

#project>div {
    display: flex;
    flex-direction: column;

    width: 70%;
    height: 23vw;
    min-width: 1280px;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 14.8vw;
    padding: 0 1rem;
}

#project h2 {
    font-size: 1.6vw;
    display: block;
    margin-top: 6.6vw;
    margin-bottom: 1.9vw;
    color: #8FFCB9;
}

.project-content-box {
    display: flex;
}

.project-content {
    margin-right: 1.5vw;
    border-radius: 1.2rem;
    background-color: white;
}

.project-content:hover {
    box-shadow: 0 10px 7px 2px gray;
}

.project-content>img {
    display: block;
    width: 22vw;
    height: 10vw;
    border-radius: 10px 10px 0 0;
}

.project-content>span {
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 1.9vw;
}

.project-content>p {
    display: flex;
    justify-content: center;
    margin-top: 1.6vw;
}

.project-content>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.2rem;
    margin: 1.6vw 0 2vw 6.5vw;
    border-radius: 3rem;
    background-color: white;
}

.project-content>button:hover {
    border: 1px solid #8FFCB9;
    color: white;
    background-color: #8FFCB9;
}

.project-content>button>img {
    position: relative;
    width: 0.8rem;
    height: 0.55rem;
    left: 1.6rem;
}
