#retrospect {
    /* background-color: #91D5B0; */
}

.retrospect-box {
    display: flex;
    flex-direction: column;

    min-width: 1280px;
    max-width: 1920px;

    margin: 0 auto;
    padding: 0 1rem;

    width: 70%;
}

.retrospect-title {
    margin-top: 9.75rem;
}

.retrospect-title>h2 {
    display: inline-block;

    font-size: 1.6vw;

    color: #8FFCB9;
}

.retrospect-title>ul {
    display: flex;
    flex-direction: row;
    float: right;
}

.retrospect-title ul li {
    list-style: none;
    margin-left: 2.5vw;

    font-size: 18px;
    font-weight: 700;
}

.post-list {
    margin-top: 2rem;
}

.cards {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 1vw;

    margin-bottom: 9.375rem;
}

.cards li {
    background: url(../images/mint.jpeg);
    background-size: cover;

    width: 19rem;
    height: 19rem;

    border-radius: 20px;
}

.cards li:hover {
    background: url(../images/mint-gray.jpeg);
    background-size: cover;
}
